*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #031D45;
   
}

.linea{
    background-color: rgba(217, 217, 217, 1);
    height: 1230px;
    padding: 5px;
    width: 20px;
   position: absolute;
   bottom: 1px;
    
   
}

.linea2{
    background-color: rgba(217, 217, 217, 1);
    height: 1300px;
    padding: 5px;
    width: 20px;
    position: absolute;
    left: 30px;
    bottom: -200px;
    
    
}

h1{
    transform: translate(120px);
    font-family: Limelight;
    width: 250px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 40px;
    font-size: 28px;
}

span{
  font-family: Just Another Hand;
  color: rgb(255, 255, 255);
  font-weight: normal;
  margin-left: 27px;
}
  

h4{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 38px;
}

.contenedor{
    
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    
    justify-content: space-evenly;
}

.cont{
    padding: 25px;
    background-color: azure;
    border-radius: 35px;
    
    
   
}



.cont img{
    width: 150px;
    height: auto;
    

}

.cont1 img{
    width: 150px;
}

.cont1 {
    padding: 25px;
    background-color: azure;
    border-radius: 35px;
    position: absolute;
    top: 450px;
}



figcaption{
    text-align: center;
    font-size: 20px;
}

h3{
   text-align: center;
   color: rgb(255, 255, 255);
   font-size: 38px;
}
